@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>

<p class="lead">LATeam - расшифровывается как Команда Леонида и Алины</p>
<p>Этот проект создан совместными усилиями </p>

<h3>@ViewBag.Message</h3>

<p class="panel-heading">Для доступа к информации по тестированиям вы ложны быть частью проекта WorkPractice</p>