@using Microsoft.VisualStudio.Services.WebApi;
@{
    ViewBag.Title = "Home Page";
    string info = Session["info"] == null ? " " : (string)Session["info"];
}

<div class="jumbotron">
    <h1>Информация о тестированиях </h1>
    <p class="lead"> LATeam представляет</p>
    @*<p class="lead">@info</p>*@
    @if (Session["connect"] is VssConnection && ((VssConnection)Session["connect"]).HasAuthenticated)
    {
        var teamPC = (VssConnection)Session["connect"];
        <p class="active"> Вы авторизовались! </p>
    }
    else
    {
        <p><a href="/Oauth/Authorize" class="btn btn-primary btn-large">Войти &raquo;</a></p>
    }
</div>
