@{
    ViewBag.Title = "Home Page";
    string s = Session["info"] == null ? "fuck, no data" : (string)Session["info"];
}

<div class="jumbotron">
    <h1>LATeam представляет</h1>
    <p class="lead"> Информация о тестированиях! </p>
    <p class="lead">@s</p>
    <p class="btn btn-primary "> @Html.ActionLink("Погнали", "Login",@*"Account",*@routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    
</div>
