@using Microsoft.VisualStudio.Services.WebApi;
@{
    ViewBag.Title = "Manage";
    var teamPC = (VssConnection)Session["connect"];
}

<div class="jumbotron">
    <h1>Личный кабинет</h1>
    <h2>@teamPC.AuthorizedIdentity.DisplayName</h2>
    @if (ViewBag.HasAccess)
    {
        <p> У вас есть доступ к WorkPractice </p>
    }
    else
    {
        <p class="active" >У вас нет доступа кWorkPractice </p>
        <p> Обратитесь к администратору проекта для его получения</p>
    }
</div>

