@using TestApp2.Models;
@model TesterModel

@{
    ViewBag.Title = "TestsInfo";

}

<head>
    <link type="text/css" rel="stylesheet" href="../../Content/TableTestInfo.css" />
</head>

<h2>Отчет по по тестированию "On test"</h2>

<form method="post">
    <p>
        Выберите тег
        <select class="customComb" name="tasktags">
            @for (int i = 0; i < ViewBag.Tags.Count; i++)
            {
                <option value=@ViewBag.Tags[i]>@ViewBag.Tags[i]</option>
            }

        </select>

        <input class="btn btn-primary " type="submit" value="Отправить">
    </p>

    <p> @ViewBag.Fail</p>
</form>
<hr />
<table border="1">
    <caption>Отчёт по тестам в состоянии Ready For Release</caption>
    <tr>
        <th>WorkPractice</th>
        <th>Общее кол-во тасков</th>
        <th>Сложность 1</th>
        <th>Сложность 2</th>
        <th>Сложность 3</th>
        <th>Сложность 4</th>
        <th>Сложность 5</th>
        <th>Сложность 6</th>
        <th>Объём сложности</th>
        <th>Время (план)</th>
        <th>Время (факт)</th>
        <th>Отклонение</th>
    </tr>

    @foreach (var testerKey in ViewBag.Table.Keys)
    {
        if (testerKey != "0")
        {
            TesterModel tester = ViewBag.Table[testerKey];
            <tr>
                @foreach (var item in tester.getTesterInfoList())
                {
                    <td>@item</td>
                }
            </tr>
        }

    }
    <tr>
        @if (ViewBag.Table.Count > 0)
        {
            TesterModel all = ViewBag.Table["0"] as TesterModel;
            foreach (var item in all.getTesterInfoList())
            {
                <td>@item</td>
            }
        }
    </tr>


</table>